/* This file is for your main application css. */


/* Basic Layout
 * ************ */

#ztd-app {
  max-width: 25em;
  margin: 1em auto;
}


header.header {
  margin-bottom: 20px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}





/* Todo Components
 * *************** */

.todo-app .item-list {
  padding: 1em 2em;
}


.todo-app .item-list .item {
  font-size: 1.5em;

  .content {
    display: inline-block;

    &.is-done {
      color: #ccc;
      text-decoration: line-through;
    }
  }

  .status {
    display: inline-block;
    transform: scale(1.2);
    margin-right: 0.5em !important;
  }

  .delete {
    float: right;
    font-size: 0.8em;
    color: #777;
    margin-top: 2px;
    cursor: pointer;
  }
}
