/* This file is for your main application css. */


/* Basic Layout
 * ************ */

#ztd-app {
  max-width: 25em;
  margin: 1em auto;
}


header.header {
  margin-bottom: 12px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}





/* Todo Components
 * *************** */

.todo-app .app-status {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;

  span:not(:last-child) {
    margin-right: 15px;
  }
}


.todo-app .new-item {
  input {
    font-size: 1.5em;
    width: 100%;
  }
}

.todo-app .item-list {
  padding: 1em 2em;
}


.todo-app .item-list .item {
  font-size: 1.4em;

  .content {
    display: inline-block;
    width: 82%;
    border: none;

    &.is-done {
      color: #ccc;
      text-decoration: line-through;
    }
  }

  .status {
    display: inline-block;
    transform: scale(1.2);
    margin-right: 0.5em !important;
  }

  .delete {
    float: right;
    text-decoration: none;
    color: #777;
    margin-top: 1px;
    cursor: pointer;
  }
}
