/* This file is for your main application css. */


/* Basic Layout
 * ************ */

header h1 {
  text-align: center;
  margin-bottom: 20px;
}




/* Todo Components
 * *************** */

.todo-app {
  .item-list {
    max-width: 20em;
    margin: 1em auto;
  }
}
